<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card 
    Id="1"
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyLKpuAfB1zATVbOehhJdGggAGECGNiwuDnA&usqp=CAU"
    cardTitle="Saiu a nova versão Star Wars"
    cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisi eu nunc sollicitudin rutrum. Curabitur tellus est, porttitor id sapien a, porttitor lobortis turpis. Suspendisse et nulla tellus. Nam mauris est, semper vitae ornare sit amet, pretium eget nisi."
    >
  </app-big-card>
  </div>

  <div class="articles__others">

    <app-small-card 
    Id="2"
    cardTitle="Veja o que rolou nos bastidores da fimagem"
    photoCover="https://st4.depositphotos.com/4634235/28796/i/450/depositphotos_287964942-stock-photo-kiev-ukraine-july-22-2017.jpg"    
    >
    </app-small-card>

    <app-small-card 
    Id="3"
    cardTitle="A estrela da morte em mais uma galáxia"
    photoCover="https://st3.depositphotos.com/1310390/13936/v/450/depositphotos_139367812-stock-illustration-speed-warp-vector-background-radiator.jpg"
    >
    </app-small-card>

    <app-small-card 
    Id="4"
    cardTitle="Nossa nova heroína"
    photoCover="https://st2.depositphotos.com/6644582/9428/i/450/depositphotos_94284902-stock-photo-rey-and-bb8-from-star.jpg"
    >
    </app-small-card>
</div>   
</div>  

